.header{
    background-color:purple;
    display:flex;
}

h1{
    color: rgb(189, 171, 189);
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows:240px 240px;
    justify-content: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    background-image: url("https://flogas-core.s3.amazonaws.com/uploads/strip_image/2_10_sm.jpg?1520439115");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
}

.footer{
    height: 50px;
    text-align: center;
    background-color: rgb(189, 171, 189);
    border-radius: 5px;
}

td:hover{
    background-color: green; 
 }

 a {
    color:black;
    font-weight: bolder;
    color:b;
 }

 a:hover{
     background-color: green;
     color: white;
 }

img{
    padding:5px;
    height:70px;
    width:100px; 
}

@media only screen and (min-width:700px){
    .header{
        flex-direction:row;
    }
}
