*{
    height:100%;
}

.header{
    height:12%;
    background-color:purple;
    display:flex;
}

h1{
    color: rgb(189, 171, 189);
}

.main{
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: (50%, 40%);
    justify-content: center;
    grid-row-gap: 2%;
    grid-column-gap: 10px;
    background-image: url("./images/page2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    border: 3px solid black;
}

.footer{
    height: 8%;
    text-align: center;
    background-color: rgb(189, 171, 189);
    border-radius: 5px;
}

td:hover{
    background-color: green; 
 }

 a {
    color:black;
    font-weight: bolder;
    color:b;
 }

 a:hover{
     background-color: green;
     color: white;
 }

img{
    padding:5px;
    height:70px;
    width:100px; 
}

@media only screen and (min-width:700px){
    .header{
        flex-direction:row;
    }
}
