body{
  display:grid;
  grid-template-rows: 60px 600px 110px;
}

td > button{
height:60px;
width: 100%;
}

td, button{
  text-align: center;
  background-color: lightseagreen;
  border-radius: 5px;
}

td:hover, button:hover{
 background-color: blue; 
}

a, button {
font-size: 18px;
font-weight: bolder;
color:black;
}

button{
border: none;
height: 40px;
}

a:hover, button:hover, .close:hover, .fa-envelope-o{
cursor: pointer;
color:white;
font-weight: 100;
}

.form {
  background-color: white;
  border:3px solid skyblue;
  text-align: center;
  border-radius: 5%;
  margin: 5px auto;
  width: 30%;
  height: 30%;
  overflow: scroll;
}

.close {
position: absolute;
right: 200px;
top: 50px;
font-size: 30px;
}

.aboutus{
height: 50%;
overflow:scroll;
}

.checked{
color:orange;
}

.main{
  color:black;
  text-align:center;
  background-image: url("https://previews.123rf.com/images/destinacigdem/destinacigdem1803/destinacigdem180300056/97939732-multi-colored-gas-cylinders-isolated-on-white-background-3d-illustration-.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid black;
}

h1{
font-style:italic;
font-size: 40px;
text-decoration: underline;
}

.footer{
  background-color:lightseagreen;
  display:flex;
  flex-direction: row;
}

.fa {
  padding: 15px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  height: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.fa-facebook{
  background: #3B5998;
  color: white;
}

.fa-twitter{
  background: #55ACEE;
  color: white;
}

.fa-instagram{
  background: purple;
  color:white;
}

.fa-whatsapp{
  background: green;
  color: white
}

.footer > div, form > div{
  padding-top: 10px;
  margin:auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  padding-top: 60px;
}

.form > button{
  margin: 20px;
}
